.headbar {
    height: 56px;
    padding: 10px 26px;
    background: #12151b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute ;
    top: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    z-index: 9;
  }
  .hide {
    top: -64px;
  }
  .show {
    top: 0px;
    position: fixed;
  }
  .hover-underline-animation.active:after,
  .hover-underline-animation.active:hover:after {
    position: absolute;
    left: 0;
    right: auto;
    width: 100%;
    transition: none;
    transform: none;
  }
  .header {
    position: fixed;
  
  
    background: #12151b;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    transition: 0.4s linear;
    height: 137px;
    z-index: 1000;
    min-width: 1440px;
    left: 0;
  }
  .header .header-top {
    display: flex;
    width: 100%;
    height: 89px;
    margin: 24px 60px;
  }
  
  
  .header.down {
    margin-top: -137px;
    /* height: 80px !important;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .1); */
  }
  
  
  .header.up {
    height: 80px !important;
    box-shadow: 0px 0px 50px rgba(160, 142, 215, 0.09);
  }
  
  
  .tab-bar.valign {
    margin-top: 0% !important;
  }
  
  
  .header-top.valign {
    height: 45px !important;
  }
  
  
  .col-2.valign {
    margin-top: 0% !important;
  }
  
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  
  .hover-underline-animation:after {
    top: 28px;
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4b59f7;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .Header-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    margin-right: 6px;
    letter-spacing: -0.1px;
  }
  
  
  .dropbtn {
    margin: 0 10px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Roboto';
  font-style: normal;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .cont-bg{
    background: #1c2028;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #353B48;
  }
  .dropdown-content {
    display: none;
    position: absolute;
  background-color: transparent;
  
  
    z-index: 1;
    min-width: 160px;
    margin: 0px 10px;
    width: 200px;
    height: 100px;
    padding-top: 24px;
  }
  
  
  .dropdown-content a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  
  .dropdown-content a:hover {
    background-color: #242934;
    z-index: 1;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .arrowImg {
    /* margin-left: 10px; */
  }
  
  
  